@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  font-family: "Roboto Mono", monospace;
}

.title {
  /* justify-self: flex-start; */
  text-align: center;
  margin-top: 35px;
}

.title h1 {
  font-size: 3rem;
  font-weight: 600;
}

.main-container {
  position: absolute;
  right: 0;
  left: 0;
  top: 45%;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#color-picker::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}

#color-picker::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

#color-picker:hover {
  transform: translateY(-10px);
}

p {
  font-size: 24px;
}

.color-datas {
  background-color: #fff;
  filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.1));
  padding: 12px 24px;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border-radius: 12px;
  position: absolute;
  top: 25%;
  right: 10%;
}

footer {
  height: 50px;
  background-color: #212121;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
}
